.profile-header {
    width: 100%;
    height: 56px;

    background-color: #dfd8d3;
}

.profile-header_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
