.login-box {
    width: 415px;
    height: 530px;
    background-color: #EEE9E5;
    border-radius: 15px;
    border: 1px #8A6CFF solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-box-header {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box h2{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.login-box  h3{
    margin-top: 10px;
    font-size: 18px;
}

.login-box-content_field {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-box-content_field > input {
    width: 335px;
    height: 43px;
    border-radius: 15px;
    padding: 0 12px;
}

.login-box-content_field > label {
    font-weight: 800;
}

.login-box-content {
    height: 270px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.login-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    animation: fadeIn 0.3s ease;
}
