.course-card_view {
    width: 320px;
    height: 400px;
    background-color: #dfd8d3;
    border-radius: 10px;
    border: 2px #8A6CFF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    flex-direction: column;
}
.course-card_view h3{
    margin-bottom: 10px;
}

.course-card_view img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.course-card_view:hover img {
    filter: brightness(0.5);
}

.course-card_title {
    position: absolute;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 900;
    color: white;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s ease;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.course-card_subtitle {
    color: ghostwhite;
    position: absolute;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s ease;
    padding: 10px;
    margin-top: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.course-card_view:hover .course-card_title {
    opacity: 1;
}
.course-card_view:hover .course-card_subtitle {
    opacity: 1;
}

.course-card_price {
    width: 150px;
    height: 50px;
    background-color: #d2fe66;
    border-radius: 25px;
    border: 1px #8A6CFF solid;
    position: absolute;
    z-index: 3;
    margin-top: 300px;
    font-size: 25px;
    color: #333333;
}

.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}