body {
    margin: 0;
}
.cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    background: url("resourses/cur.png") center / contain no-repeat;
    pointer-events: none !important;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease;
    z-index: 999999999999;
}

.cursor.hover {
    width: 36px;
    height: 36px;
    background: url("resourses/cur-hover.png") center / contain no-repeat;
}
.cursor.text {
    width: 32px;
    height: 32px;
    background: url("resourses/cur-text.png") center / contain no-repeat;
}

.ff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.wrapper {
    color: black;
    background: #eee9e6;
    min-height: 100vh;
    overflow-x: clip;
}

.profile-wrapper {
    color: black;
    background: #eee9e6;
    padding-top: 30px;
    height: auto;
    overflow: clip;
}

html {
    scroll-behavior: smooth;
}
html, body, #root, * {
    cursor: none !important;
    color: #333333;
}
html, body {
    min-width: 320px;
}

*:hover,
*:focus,
*:active {
    cursor: none !important;
}

button,
a,
input,
select,
textarea,
[role="button"],
[tabindex]:not([tabindex="-1"]),
.hover-cursor,
[data-cursor-hover] {
    cursor: none !important;
}

button:hover,
a:hover,
button:focus,
a:focus {
    cursor: none !important;
}