.constructor-info-settings {
    width: 474px;
    height: 1440px;
    border: #8A6CFF solid 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.constructor-info-settings h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.constructor-info-settings p {
    font-size: 14px;
}

.constructor-info-settings input {
    margin-top: 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 420px;
    height: 44px;
    padding: 12px;
    border: 2px solid #DFD8D3;
    transition: all 0.3s ease;
}

.constructor-info-settings input:hover {
    border-color: #8A6CFF;
    transform: translateY(-2px);
}

.constructor-info-settings textarea {
    width: 420px;
    height: 107px;
    resize: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    border: 2px solid #DFD8D3;
    transition: all 0.3s ease;
}

.constructor-info-settings textarea:hover {
    border-color: #8A6CFF;
    transform: translateY(-2px);
}

.constructor-info-settings label {
    font-size: 20px;
    font-weight: 600;
}


.custom-file-input {
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.custom-file-input input[type="file"] {
    position: absolute;
    clip: rect(0 0 0 0);

}

.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 24px;
    background-color: white;
    color: #8A6CFF;
    border: 2px solid #DFD8D3;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.custom-file-label:hover {
    border-color: #8A6CFF;
    transform: translateY(-2px);
}

.file-text p{
    font-size: 18px;
    font-weight: 200;
}
