.login-box-admin {
    width: 415px;
    height: 490px;
    background-color: #EEE9E5;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 200px #EB4760;
}
.login-box-header-admin {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box-admin h2{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.login-box-admin  h3{
    margin-top: 10px;
    font-size: 18px;
}