.course-list-header_title {
    font-size: 45px;
    font-weight: 800;
}

.course-list-header_desc {
    font-size: 22px;
    font-weight: 800;
}

.course-list-header {
    margin-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1024px) {
    .course-list-header_title {
        font-size: 34px;
    }

    .course-list-header_desc {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .course-list-header {
        margin-top: 80px;
    }

    .course-list-header_title {
        font-size: 26px;
    }

    .course-list-header_desc {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .course-list-header_title {
        font-size: 22px;
    }

    .course-list-header_desc {
        font-size: 14px;
    }
}
