.course-list-cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 0 15px;
}
@media (max-width: 768px) {
    .course-list-cards {
        gap: 24px;
    }
}